html {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

nav {
	background-color: whitesmoke;
	font-family: 'Open Sans', Arial, sans sarif;
	text-align: center;
	padding: 10px 0px 10px 0px;
}

.desc {
	font-size: 20px;
	line-height: 40px;
	font-family: 'Montserrat', sans-serif;
}

.gallary {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 50px 100px;;
	margin: 50px 100px 50px 50px;
	grid-template-rows: 900px 900px 900px;
	grid-template-areas: 
		"one one two"
		"three four four"
		"five five six"
		"five five six";
}

.linked {
	transition: filter 250ms ease;
}

.linked:hover {
	filter: invert(100);
}

article {
	padding: 50px 20px;
	width: 100%;
	border-width: 5px;
	border: solid;
	border-radius: 50px;
	transition: border-width 250ms ease;
}

article:hover {
	border-width: 10px;
}

.rightNav {
	
}

.leftNav {
	
}

h1 {
	font-size: 56px;
	font-family: 'Montserrat', sans-serif;
}

h3 {
	line-height: 40px;
	font-size: 25px;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

h4 {
	line-height: 40px;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
}

#emailMe {
	margin: 40px 0px 20px 19.99%;
}

#contactBox {
	background-color: darkslategray;
	width: 45%;
	margin: 0 auto;
}

#msg {
	width: 90%;
	margin: 0 auto;
}

form {
	display: flex;
	flex-direction: column;
}

button {
	background-color: orange
}

header {
	background-color: var(--headerColor, dodgerblue);
	border-style: solid;
	border-color: black;
	border-width: 5px;
	border-left-width: 0px;
	border-right-width: 0px;
}

footer {
	background-color: var(--headerColor, dodgerblue);
	font-family: 'Open Sans', Arial, sans sarif;
	text-align: center;
	border-style: solid;
	border-width: 5px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	padding: 10px 0px 10px 0px;
}

section {
	margin-bottom: 100px;
	text-align: center;
	position: relative;
}


.logo {
	width: 80px;
	max-width: 100%;
	height: auto;
	display: block;
	position: absolute;
	top: 10px;
	left: 20px;
	transition: transform 250ms ease;
}

.logo:hover {
	transform: rotate(-45deg);
}

.wrapper {
	background-color: whitesmoke;
	--borderRadius: 40px;
	--headerColor: dodgerblue;
	--workBorder: 20px solid orange;
}

a.whiteLink {color:white; transition: border 0.3s ease; border-bottom: dotted; border-bottom-color: hsla(0,0%,100%,0.00)}
a.whiteLink:link  {text-decoration: none; color: white;}
a.whiteLink:visited {text-decoration: none; color: white;}
a.whiteLink:hover {text-decoration: none; color: white; border-bottom-color: hsla(0,0%,100%,1.00)}
a.whiteLink:active {text-decoration: none; color: white;}

a.blackLink {color:black; transition: border 0.3s ease; border-bottom: dotted; border-bottom-color: hsla(0,0%,0%,0.00)}
a.blackLink:link  {text-decoration: none; color: black;}
a.blackLink:visited {text-decoration: none; color: black;}
a.blackLink:hover {text-decoration: none; color: black; border-bottom-color: hsla(0,0%,0%,1.00)}
a.blackLink:active {text-decoration: none; color: black;}

.work {
	border: var(--workBorder, 10px solid orange);
	border-radius: var(--borderRadius, 40px);
	width: 300px;
	max-width: 100%;
	height: auto;
}

.work2 {
	border: var(--workBorder, 10px solid orange);
	border-radius: var(--borderRadius, 40px);
	width: 50%;
	max-width: 75%;
	height: auto;
}


.workBorder {
	border-color: orange;
}

#home {
	margin: 0px 100px 0px 0px;
}

#homeFooter {
	margin: 0px 100px 0px 0px;
	color: white;
}

#works {
	margin: 0px 100px 0px 0px;
}

#worksFooter {
	margin: 0px 100px 0px 0px;
	color: white;
}

#about {
	margin: 0px 100px 0px 0px;
}

#aboutFooter {
	margin: 0px 100px 0px 0px;
	color: white;
}

#contact {
	
}

#contactFooter {
	margin: 0px 0px 0px 0px;
	color: white;
}

#welcome {
	margin: 70px 0px 0px 175px;
	color: white;
}

#intro {
	margin: 50px 0px 100px 175px;
}

#recentWorks {
	margin: 100px 0px 100px 0px;
	text-align: center;
}

#picture {
	border: 20px solid orange;
	border-radius: var(--borderRadius, 40px);
	display: block;
	margin: 100px auto;
	width: 250px;
}

.midWork {
	margin: 0 100px;
}

@media (max-width: 956px){
	
	#works {
		margin-right: 300px;
	}
	
	.logo {
		left: 44.9999%
	}
	
	#welcome {
		margin: 70px auto 0px auto;
		text-align: center;
	}
	
	#intro {
		text-align: center;
		margin: 50px auto 100px auto;
	}
}

@media (max-width: 780px){
	#welcome {
		font-size: 40px;
	}
	
	#intro {
		font-size: 20px;
		padding: 0 20px;
	}
	
	#home {
		margin: 10px 10px;
	}
	
	#homeFooter {
		margin: 10px 10px;
	}
	
	#about {
		margin: 10px 10px;
	}
	
	#aboutFooter {
		margin: 10px 10px;
	}
	
	#contact {
		margin: 10px 10px;
	}
	
	#contactFooter {
		margin: 10px 10px;
	}
	
	#works {
		margin: 10px 10px;
	}
	
	#worksFooter {
		margin: 10px 10px;
	}
	
	.logo {
		left: -1000px;
	}
}

@media (max-width: 1252px){
	
	#midWork {
		margin: 30px auto;
	}
	
	.work {
		display: block;
		margin: 30px auto;
	}
	
}

@media (max-width: 1400px) {
	#koala {
		font-size: 14px;
	}
}

label {
	font-family: 'Montserrat', sans-serif;
}

input[type="text"], select, textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

/*Make the form a certain width so that we can just center the submit button. Better that way(?)*/
input[type=submit] {
	background-color: orange;
	font-family: 'Open Sans', 'Ariel', sans-serif;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
}